node_modules

.DS_Store
.env
.env.local
apps/**/dist
apps/**/node_modules
apps/**/tsconfig.tsbuildinfo
apps/**/tsconfig.node.tsbuildinfo
apps/**/tsconfig.build.tsbuildinfo
.deploy
coverage
backup/
release/
